<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body text="blue">
    {% if not reciepts %}
    <form method="post" action="/">
        {% csrf_token %}
        <input type="text" name="park_id">E
        <button type="text" name="create_park">
    </form>
    {% else %}
    {% for el in reciepts %}
    <form method="post" action="/">
        {% csrf_token %}
        {{ el }}
        <input type="submit" value="{{el.pk}}" name="end_park">
    </form>
    {% endfor %}
    {% endif %}
    <h1>{{ request.user }}</h1>
    <p>{% for el in parking %}
        {{el.address}}<br>
    {% endfor %}</p>
<!--
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script>
        DG.then(function() {
        map = DG.map('map', {
            'center': [54.98, 82.89],
            'zoom': 13
        });
    });

    </script>
-->
</body>
</html>