<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'parkapp:register' %}" method='post'>
        {% csrf_token %}
        <input type="text" name="username">name
        <input type="text" name="card_num">cardnum
        <input type="text" name="card_period">cardperiod
        <input type="text" name="card_cvv">cvv
        <input type="text" name="user_password">pwd
        <input type="submit">
    </form>
</body>
</html>